:root{
    --textcolor: wheat;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: darkblue;
    margin: 25px 50px;
    max-width: 100%;
    color: var(--textcolor);
    line-height: 1.4;
}
h1{
    text-align: center;
}
a {
    color: var(--textcolor);
}
.btn-primary {
    background-color: black;  
  color: var(--textcolor);
  font-weight: 600;
  border: none;
  border-radius: 6px;
  padding: 6px 16px;
}
.btn-primary:hover{
background-color: #0056b3;
}
